:root {
	--sfwindow: #19171a; /*Default #19171a */
	--sfsecondary: #201e21; /* Default #201e21 */
}

/* Urlbar View */
.urlbarView {
	display: none !important;
}

/*─────────────────────────────*/

/* 
┌─┐┌─┐┬  ┌─┐┬─┐┌─┐
│  │ ││  │ │├┬┘└─┐
└─┘└─┘┴─┘└─┘┴└─└─┘ 
*/

/* Tabs colors  */
#tabbrowser-tabs:not([movingtab])
	> #tabbrowser-arrowscrollbox
	> .tabbrowser-tab
	> .tab-stack
	> .tab-background[multiselected="true"],
#tabbrowser-tabs:not([movingtaf])
	> #tabbrowser-arrowscrollbox
	> .tabbrowser-tab
	> .tab-stack
	> .tab-background[selected="true"] {
	background-image: none !important;
	background-color: var(--toolbar-bgcolor) !important;
}

/* Inactive tabs color */
#navigator-toolbox {
	background-color: var(--sfwindow) !important;
}

/* Window colors  */
:root {
	--toolbar-bgcolor: var(--sfsecondary) !important;
	--tabs-border-color: var(--sfsecondary) !important;
	--lwt-sidebar-background-color: var(--sfwindow) !important;
	--lwt-toolbar-field-focus: var(--sfsecondary) !important;
}

/* Sidebar color  */
#sidebar-box,
.sidebar-placesTree {
	background-color: var(--sfwindow) !important;
}

/* 

┌┬┐┌─┐┬  ┌─┐┌┬┐┌─┐            
 ││├┤ │  ├┤  │ ├┤             
─┴┘└─┘┴─┘└─┘ ┴ └─┘            
┌─┐┌─┐┌┬┐┌─┐┌─┐┌┐┌┌─┐┌┐┌┌┬┐┌─┐
│  │ ││││├─┘│ ││││├┤ │││ │ └─┐
└─┘└─┘┴ ┴┴  └─┘┘└┘└─┘┘└┘ ┴ └─┘

*/

/* Tabs elements  */
.tabbrowser-tab:not([pinned]) .tab-close-button {
	display: none !important;
	background-color: transparent !important;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
	display: block !important;
}
#nav-bar:not([tabs-hidden="true"]) {
	box-shadow: none;
}
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
	> #tabbrowser-arrowscrollbox
	> .tabbrowser-tab[first-visible-unpinned-tab] {
	margin-inline-start: 0 !important;
}
:root {
	--toolbarbutton-border-radius: 0 !important;
	--tab-border-radius: 0 !important;
	--tab-block-margin: 0 !important;
	--tabs-navbar-shadow-size: 0 !important;
}
.tab-background {
	border-right: 0px solid rgba(0, 0, 0, 0) !important;
	margin-left: -4px !important;
}
.tabbrowser-tab:is([visuallyselected="true"], [multiselected])
	> .tab-stack
	> .tab-background {
	box-shadow: none !important;
}
.tabbrowser-tab[last-visible-tab="true"] {
	padding-inline-end: 0 !important;
}
#tabs-newtab-button {
	padding-left: 0 !important;
}

/* Url Bar  */
#urlbar-input-container {
	background-color: var(--sfsecondary) !important;
	border: 1px solid rgba(0, 0, 0, 0) !important;
}
#urlbar-container {
	margin-left: 0 !important;
}
#urlbar[focused="true"] > #urlbar-background {
	box-shadow: none !important;
}
#navigator-toolbox {
	border: none !important;
}

/* Bookmarks bar  */
/* .bookmark-item .toolbarbutton-icon {
  display: none;
} */
toolbarbutton.bookmark-item:not(.subviewbutton) {
	min-width: 1.6em;
}

/* Toolbar  */
#tracking-protection-icon-container,
#urlbar-zoom-button,
#star-button-box,
#pageActionButton,
#pageActionSeparator,
#tabs-newtab-button,
#PanelUI-button,
.tab-secondary-label {
	display: none !important;
}
.urlbarView-url {
	color: #dedede !important;
}

/* Disable elements  */
#context-navigation,
#context-savepage,
#context-pocket,
#context-sendpagetodevice,
#context-selectall,
/* #context-viewsource, */
#context-inspect-a11y,
#context-sendlinktodevice,
#context-openlinkinusercontext-menu,
#context-bookmarklink,
#context-savelink,
#context-savelinktopocket,
#context-sendlinktodevice,
#context-searchselect,
#context-sendimage,
#context-print-selection,
#context-sep-navigation {
	display: none !important;
}
#context_bookmarkTab,
#context_moveTabOptions,
#context_sendTabToDevice,
#context_reopenInContainer,
#context_selectAllTabs,
#context_closeTabOptions {
	display: none !important;
}

/**
Customs
*/

#titlebar {
	background-color: #1b1b1b !important;
	box-shadow: 0px !important;
}

.titlebar-spacer[type="pre-tabs"] {
	width: 0px !important;
	border-bottom: none !important;
	outline: none !important;
	box-shadow: 0px !important;
}

.tabbrowser-tab:not([pinned]) {
	max-width: 140px !important;
}
#tabbrowser-tabs:not([secondarytext-unsupported]) {
	height: fit-content; /* Anterior 2.25rem editado por mi */
}

.titlebar-buttonbox-container {
	margin-right: 7px !important;
}

/* Separadores */
html#main-window
	body
	popupset#mainPopupSet
	menupopup#tabContextMenu
	menuseparator {
	display: none !important;
}
html#main-window
	body
	popupset#mainPopupSet
	menupopup#contentAreaContextMenu
	menuseparator#context-sep-screenshots {
	display: none !important;
}
html#main-window
	body
	popupset#mainPopupSet
	menupopup#contentAreaContextMenu
	menuseparator#context-sep-selectall {
	display: none !important;
}

menupopup,
panel {
	color-scheme: light dark;
	min-width: 1px;
	--panel-background: #1c1c1c !important;
	--panel-color: MenuText;
	--panel-padding-block: 4px;
	--panel-padding: var(--panel-padding-block) 0;
	--panel-border-radius: 0px !important;
	--panel-border-color: none !important;
	--panel-width: initial;
	--panel-shadow-margin: 0px;
	--panel-shadow: 0 0 var(--panel-shadow-margin) hsla(0, 0%, 0%, 0.2);
	-moz-window-input-region-margin: var(--panel-shadow-margin);
	margin: calc(-1 * var(--panel-shadow-margin));
	--color-canvas: var(--panel-background);
}
