[data-list-item-id='private-channels-uid_208___shop']{
    display: none;
}

[data-list-item-id='private-channels-uid_208___nitro']{
    display: none;
}

.theme-dark{
    --background-primary: #171722 !important;
    --background-secondary-alt: #16161e !important;
}